

<p>
  <strong>Beer club:</strong>
  <%= @membership.beer_club.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @membership.user.username %>
</p>

<%= edit_and_destroy_buttons(@membership) %>
<%= link_to 'Back', memberships_path %>
