<h2>Breweries</h2>

<table id="brewerytable" style="table table-hover">
  <tr>
    <th><a href="#" id="name">name</a></th>
    <th><a href="#" id="founded">founded</a></th>
    <th><a href="#" id="beercount"># of beers</a></th>
    <th><a href="#" id="active">active</a></th>
  </tr>
</table>