<h2>Beers</h2>

<table id="beertable" style="table table-hover">
  <tr>
    <th><a href="#" id="name">name</a></th>
    <th><a href="#" id="style">style</a></th>
    <th><a href="#" id="brewery">brewery</a></th>
  </tr>
</table>